html {
  height: 100%;
  max-height: 100%;
  font-size: 25px;
}

body {
  /* to cover entire space, always */
  margin: 0;
  min-height: 100%;
  /* grid setup */
  display: grid;
  grid-template: auto / 1fr [content]minmax(600px,3fr) 1fr;
  grid-row-gap: 15px;
  align-content: space-between;
  /* colors, text, extra */
  background-color: #dedede;
}

/* meta class to format the content bubbles */
.content {
  /* grid */
  grid-column: content;
  /* color */
  background-color: #fff;
  box-shadow: 0 0 12px 1px rgba(42, 42, 42, 0.2);
  /* look */
  border-radius: 10px;
}

/* Header section: title, subtitle, navigation */
.header {
  /* ensure text is centered here */
  text-align: center;
}

/* To be replaced with text at a later time */
.footer {
  text-align: center;
}

/* Article contents */
.article {
}

/* Separate components of an article */
.section {
  border-bottom: #dedede inset;
}

/* Font styling */
body {
  font-family: 'CMU', serif;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 300;
  hyphens: auto;
}

/* Responsive design here, for mobile only */
@media (max-width: 600px) {
  body {
    grid-template: auto / [content]1fr;
  }
}
