html {
  height: 100%;
  max-height: 100%;
  font-size: 25px;
}

body {
  /* to cover entire space, always */
  margin: 0;
  min-height: 100%;
  /* grid setup */
  display: grid;
  grid-template: auto / 1fr [content]min-content 1fr;
  grid-row-gap: 15px;
  /* colors, text, extra */
  background-color: #dedede;
}

/* meta class to format the content bubbles */
.content {
  /* grid */
  grid-column: content;
  /* color */
  background-color: #fff;
  box-shadow: 0 0 12px 1px rgba(42, 42, 42, 0.2);
  /* look */
  border-radius: 10px;
}

/* Header section: title, subtitle, navigation */
.header {
  align-self: start;
}

/* To be replaced with text at a later time */
.footer {
  align-self: end;
  height: 15px;
}

/* To be replaced with text at a later time, varying height */
.article {
  align-self: stretch;
}

/* To be replaced later with the different components */
.article div {
  /* TODO: needs replacement with text or might actually be needed */
  /* TODO: without this, there is no width constraint so everything collapses */
  width: 1200px;
  height: 50px;
  border: 1px solid red;
  box-sizing: border-box;
}

/* Responsive design here, for mobile only */
@media (max-width: 650px) {
  body {
    grid-template: auto / [content]1fr;
  }

  /* debug, to be removed */
  .content {
    width: 100%;
  }

  /* debug, to be removed */
  .article div {
    width: 100%;
  }
}
