html {
  height: 100%;
  max-height: 100%;
  font-size: 25px;
}

body {
  /* to cover entire space, always */
  margin: 0;
  min-height: 100%;
  /* grid setup */
  display: grid;
  grid-template: auto / 1fr [content]min-content 1fr; /* TODO: responsive design */
  grid-row-gap: 15px;
  /* colors, text, extra */
  background-color: #dedede;
}

/* debug, might not need */
* {
  border: 1px solid red;
  box-sizing: border-box;
}

/* debug, might not need */
html {
  border: none;
}

div {
  /* debug */
  border-color: blue;
  width: 1200px;
  /* grid */
  grid-column: content;
  /* color */
  background-color: #fff;
  box-shadow: 0 0 12px 1px rgba(42, 42, 42, 0.2);
  /* look */
  border-radius: 10px;
  /* NOTE: padding is internal */
  /* NOTE: margin might not be needed, except for responsive? */
}
